.todo-item {
  padding: 16px 5px;
  border-bottom: 1px dashed #bbb;
  display: flex;
}

.todo-item:hover {
  background: #eee;
}

.item-name {
  flex-basis: 0;
  flex-grow: 9;
}

.item-remove {
  text-align: right;
  color: #7f4cc1;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  border: 1px solid #7f4cc1;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
}

.item-remove:hover {
  background-color: #7f4cc1;
  color: #fff;
}
